body {
    margin: 0lvh;
}
html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5lvh;
    line-height: 3.1lvh;
}
#photo {
    margin: 0px;
    width: 44.4vw;
    max-height: 100vh;
    }
#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#content {
    flex-grow: 55;
    margin-left: 3lvw;
    /* flex-direction: column; */
}
#content_grid {
    display: grid; 
    grid-template-columns:  repeat(2, 1fr);  
    grid-template-rows: repeat(1, 6.66lvh); 
    row-gap: 1lvh; 
    column-gap: 9lvh; 
    grid-template-areas: 'name name'
                         'name name'
                         'name name'
                         'name name'
                         'i_am channel'
                         'study chgk'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'lets_do links'
                        
                        
    ; 
}
#name {
    grid-area: name;
}
h1 {
    font-family: 'Finlandica', sans-serif;
    font-weight: normal;
    font-size: 12lvh;
    line-height: 12.5lvh;
    margin-top: 5lvh;
    margin-bottom: 0;
}
#i_am {
    grid-area: i_am;
}
#channel {
    grid-area: channel;
}
#study {
    grid-area: study;
}
#chgk {
    grid-area: chgk;
}
#empty {
    grid-area: empty;
}
#bottom_wrapper {
    display: table;
    height: auto;
}
#lets_do {
    grid-area: lets_do;
}
.small_link {
    font-size: 1.6lvh;
}
#links {
    grid-area: links;
}
a {
    color:#0047FF;
    text-decoration: none;
}
a:hover {
    border-bottom:solid 1px;
}
.flex-wrapper {
    display: flex; 
    flex-direction: row;
}
#all { 
    background-color: white;
    flex-direction: row-reverse;
    height: 100vh;
    }
#probel {
    display: inline-block;
    width: 2lvw;
} 
#lets_do {
    margin-bottom: 2.2lvh;
}
#footer {
    flex-grow: 0;
    height: 6lvh;
    margin-bottom: 6lvh;
}


@media screen and (max-aspect-ratio: 1/1) {
    #photo {
        width: 92vw;
        margin-left: 4lvw;
        margin-right: 4lvw;
        margin-top: 4lvw;
        height: 100%;
    }
    #photo img {
        content: url("me_mobile.webp");
    }
    #all {
        flex-direction: column;
    }
    #content {
        margin-left: 4lvw;
        margin-right: 1lvw;
    }
    #content_grid {
        row-gap: 1.5lvh; 
        column-gap: 2vh; 
        grid-template-areas: 'name name'
                             'name name'
                             'name name'
                             'i_am channel'
                             'study chgk'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'lets_do links'
                            
                            
        ; 
    }
    h1 {
        font-weight: normal;
        font-size: 9.5lvh;
        line-height: 10lvh;
        margin-top: 2lvh;
        margin-bottom: 3lvh;
    }
    #footer {
        margin-bottom: 3lvh;
    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 16/10) {
    #photo {
        margin-left: 4lvw;
        height: 100%;
        max-width: 100%;
    }
    #content_grid {
        row-gap: 1.5lvh; 
        column-gap: 3vh;
        grid-template-areas: 'name name'
                             'name name'
                             'name name'
                             'i_am channel'
                             'study chgk'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'lets_do links'
                            
                            
        ; 
    }
}
@media screen and (min-aspect-ratio: 10/16) and (max-aspect-ratio: 1/1) {
    #photo {
        margin-left: 4lvw;
        height: 100%;
        max-width: 100%;
    }
    /* h1 {
        font-size: 14lvh;
        line-height: 15.8lvh;
    } */
    #content_grid {
        row-gap: 1.5lvh; 
        column-gap: 6vh;
        grid-template-areas: 'name name'
                             'name name'
                             'name name'
                             'i_am channel'
                             'study chgk'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'empty empty'
                             'lets_do links'
                            
                            
        ; 
    }
}
