body {
    margin: 0lvh;
}
html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5lvh;
    line-height: 2lvh;
}
#photo {
    margin: 0px;
    margin-left: 112px;
    width: 44.4vw;
    max-height: 100vh;
    }
#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#content {
    flex-grow: 55;
    margin-left: 3lvw;
    /* flex-direction: column; */
}
#content_grid {
    display: grid; 
    grid-template-columns:  repeat(2, 1fr);  
    grid-template-rows: repeat(2, 6.66 lvh); 
    gap: 10px; 
    grid-template-areas: 'name name'
                         'name name'
                         'i_am channel'
                         'study chgk'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'empty empty'
                         'lets_do links'
                        
                        
    ; 
}
#name {
    grid-area: name;
}
h1 {
    font-family: 'Finlandica', sans-serif;
    font-weight: normal;
    font-size: 12lvh;
    line-height: 13lvh;
    margin-top: 2.5lvh;
}
#i_am {
    grid-area: i_am;
}
#channel {
    grid-area: channel;
}
#study {
    grid-area: study;
}
#chgk {
    grid-area: chgk;
}
#empty {
    grid-area: empty;
}
#lets_do {
    grid-area: lets_do;
}
#links {
    grid-area: links;
}
a {
    color:#0047FF;
    text-decoration: none;
}
a:hover {
    border-bottom:solid 1px;
}
.flex-wrapper {
    display: flex; 
    flex-direction: row;
}
#all { 
    background-color: white;
    flex-direction: row-reverse;
    height: 100vh;
    }

#links > div {   
    margin-right: 4lvw; 
} 
#lets_do {
    margin-bottom: 2.2lvh;
}
#footer {
    flex-grow: 0;
    height: 6lvh;
    margin-bottom: 6lvh;
}


@media screen and (max-aspect-ratio: 1/1) {
    #photo {
        width: 100vw;
        margin: 0px;
        height: 33lvh;
    }
    #photo img {
        content: url("me_mobile.webp");
    }
    #all {
        flex-direction: column;
    }
    #content {
        margin-left: 4lvw;
    }
    h1 {
        font-weight: normal;
        font-size: 9.5lvh;
        line-height: 10.5lvh;
        margin-top: 0lvh;
        margin-bottom: 3lvh;
    }
    #footer {
        margin-bottom: 3lvh;
    }
}